.imageContainer {
  width: 100%;
  position: relative;
}
.searchWrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5%;
  @media screen and (max-width: 500px) {
    height: 30px;
  }
}
