@import "../../../colors.scss";

.headerContainer {
  display: flex;
  background-color: $lightGray;
  height: 70px;
  justify-content: center;
  .headerTitleWrapper {
    align-self: center;
    font-size: 48px;
    font-family: "Anton", sans-serif;
    color: $white;
    letter-spacing: 6px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $black;
  }
}
