.coctailCardContainer {
  display: flex;
  width: 800px;
  flex-direction: row;
  margin: 0px 15px 30px 15px;
  border-bottom: 1px solid #999999;
  padding-bottom: 20px;
  cursor: pointer;
}

.imageWrapper {
  display: flex;
  margin-top: 20px;
}
.titleWrapper {
  font-size: 28px;
  margin-top: 20px;
  font-family: "Anton", sans-serif;
  padding-left: 20px;
}
.descriptionWrapper {
  padding: 20px 10px 0px 20px;
}
